@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

h1,h2,h3,h4,h5,h6,a {
    	margin:0;
    	padding:0;
}
h1{
	font-size: 32px;
}
h2{
	font-size: 28px;
}
h3{
	font-size: 22px;
}
h4{
	font-size: 20px;
}
h5{
	font-size: 18px;
}
h6{
	font-size: 16px;
}
a{
	font-size: 14px;
}
p{
	font-size: 16px;
}
button{
	cursor:pointer;
	&:hover{
		cursor:pointer;
	}
}
a{
	text-decoration:none;
	cursor:pointer;
	&:hover{
		text-decoration:none;
		cursor:pointer;
	}
}
